
<md-card>
    <md-card-header>
        Welcome, How Can We Help You?
    </md-card-header>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Book a Consultation</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p>
            Seeing a doctor is easy. You can book a consultation i nseconds and speak to a leading GP in minutes. Most of the time patients'
            problems are resolved there and then, with prescriptions arranged where neccessary.
        </p>
        <p>Our UK and Ireland based GPs are available whenever you are at a time suits you.</p>
        <p><b>Unlimited consultation for just £4.99 or €7.99 per month</b></p>
    </md-card-content>
    <img src="http://northstmed.com.au/img/banner-bookings.jpg" class="md-card-image" alt="Booking">
    <md-card-actions align="start">
        <button md-button>SEE A DOCTOR NOW</button>
    </md-card-actions>
</md-card>